<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginFailure</servlet-name>
    <servlet-class>LoginFailure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFailure</servlet-name>
    <url-pattern>/LoginFailure</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>courseListServlet</servlet-name>
    <servlet-class>courseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseListServlet</servlet-name>
    <url-pattern>/courseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myAccountServlet</servlet-name>
    <servlet-class>myAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myAccountServlet</servlet-name>
    <url-pattern>/myAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyCoursesServlet</servlet-name>
    <servlet-class>MyCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCoursesServlet</servlet-name>
    <url-pattern>/MyCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookServlet</servlet-name>
    <servlet-class>bookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookServlet</servlet-name>
    <url-pattern>/bookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <servlet-class>AdminAddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <url-pattern>/AdminAddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>issueBookServlet</servlet-name>
    <servlet-class>issueBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issueBookServlet</servlet-name>
    <url-pattern>/issueBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookToDatabase</servlet-name>
    <servlet-class>AddBookToDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookToDatabase</servlet-name>
    <url-pattern>/AddBookToDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>grantBook</servlet-name>
    <servlet-class>grantBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>grantBook</servlet-name>
    <url-pattern>/grantBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminRemoveBookServlet</servlet-name>
    <servlet-class>AdminRemoveBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRemoveBookServlet</servlet-name>
    <url-pattern>/AdminRemoveBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchBook</servlet-name>
    <servlet-class>searchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchBook</servlet-name>
    <url-pattern>/searchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveBookFromDatabase</servlet-name>
    <servlet-class>RemoveBookFromDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBookFromDatabase</servlet-name>
    <url-pattern>/RemoveBookFromDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removeUser</servlet-name>
    <servlet-class>removeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeUser</servlet-name>
    <url-pattern>/removeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRemoveSuccess</servlet-name>
    <servlet-class>userRemoveSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRemoveSuccess</servlet-name>
    <url-pattern>/userRemoveSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCourses</servlet-name>
    <servlet-class>AddCourses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourses</servlet-name>
    <url-pattern>/AddCourses</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  
  
</web-app>